.svg-parent:not(.legend) {
  height: 400px;
  width: 100%;
}
.svg-parent:not(.legend) > svg {
  height: 100%;
}

/* Animation Support */

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Map--hover {
  stroke: #ff073a;
  stroke-width: 2;
}

.Map-info-item {
  background-color: var(--secondary-lightest);
  height: 50px;
  border-radius: var(--spacing-m);
  margin-top: var(--spacing-l);
}

.InfoLegend {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.InfoLegend--primary {
  background-color: var(--primary);
}

.InfoLegend--alert {
  background-color: var(--alert);
}

.InfoLegend--success {
  background-color: var(--success);
}

.InfoLegend--secondary {
  background-color: var(--secondary);
}

.InfoLegend--warning {
  background-color: var(--warning);
}
