.Stats-container {
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.Stats-body {
  padding: 0 16px;
}

.Stat-table-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
}

