.App { }

.App-header {
  background-color: #282c34;
  height: 47px;
  display: flex;
  color: white;
  padding: 4px 16px;
}

.App-footer {
  background-color: #282c34;
  height: 47px;
  display: flex;
  color: white;
  padding: 4px 16px;
  justify-content: space-between;
  align-items: center;
}

.App-body {
  padding: 16px;
  height: calc(100vh - 142px);
  overflow-y: scroll;
}

.Row > div {
  margin: 16px 0;
}

.Link {
  cursor: pointer;
}

