.App {
}



.App-header {
  background-color: #282c34;
  height: 47px;
  display: flex;
  color: white;
  padding: 4px 16px;
}

.App-body {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

