.Spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.Summary-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Legend {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
}

.Legend--alert {
  background-color: #d93737;
}

.Legend--primary {
  background-color: #0070dd;
}

.Legend--success {
  background-color: #2ea843;
}

.Legend--mirch {
  background-color: #d93737;
}

.Legend--mirch-dark {
  background-color: #9c2828;
}

.Legend--mirch-darker {
  background-color: #631919;
}

.Legend--mirch-light {
  background-color: #eb776c;
}

.Legend--mirch-lighter {
  background-color: #f7ada5;
}

.Legend--mirch-lightest {
  background-color: #f9e2e2;
}

