.Spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.Summary-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Summary-heading .Icon {
  cursor: pointer;
}

.Summary-chart {
  height: 300px;
}

.Summary-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.Summary-details hr {
  border: 0.5px solid var(--secondary-light);
  margin: var(--spacing-2) 0;
}

.Summary-legends .Legend {
  margin: var(--spacing-2) 0;
}
